#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  background-color: #7aa97d;
}

.login-wrapper, .file-wrapper{
  background-color: #f5ddc5;
  padding: 25px;
  border-radius: 10px;
}