/* Style for the Link component */

/* Style for the container that holds all the items */
.item-container {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next row */
  gap: 20px;  /* Space between the items */
  padding: 20px;
}

/* Style for each item */
.item {
  width: calc(33.33% - 20px); /* 3 items per row with space between them */
  box-sizing: border-box;
  margin-bottom: 20px;
}

/* Make sure the item container takes up full width on small screens */
@media (max-width: 768px) {
  .item {
    width: calc(50% - 20px); /* 2 items per row on medium screens */
  }
}

@media (max-width: 480px) {
  .item {
    width: 100%; /* 1 item per row on small screens */
  }
}

.item-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.item-link:hover {
  background-color: #f0f0f0;
  color: #02020c;

}

/* Container for each item (file or folder) */
.item {
  /* display: flex;
  align-items: center;
  justify-content: space-evenly; */
  padding: 10px;
  background-color: #f5ddc5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}

/* Style for folder and file icons */
.item-icon {
  font-size: 2rem;
  margin-right: 15px;
}

/* Specific style for folder icon */
.folder-icon {
  color: #f4a261; /* Orange color for folders */
}

/* Specific style for file icon */
.file-icon {
  color: #2a9d8f; /* Teal color for files */
}

/* Style for item info (name, type, size) */
.item-info {
  display: flex;
  flex-direction: column;
}

.item-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin: 0;
}

.item-type,
.item-size {
  font-size: 0.9rem;
  color: #555;
  margin: 3px 0;
}
/* 
.button-div{
  display: flex;
  flex-direction: column;
} */

.controle-button{
  margin: 5px;
  padding: 7px;
}

.rename-wrapper {
  width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.rename-wrapper input {
  padding: 5px;
  width: 40%;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #eccdae;
}

.rename-wrapper .save {
  padding: 2.5px 5px;
  font-size: 1rem;
  background-color: #f9f9f9;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
  cursor: pointer;
}

.rename-wrapper .save:hover {
  border-color: #010216;
}
